
<div class="container" style="background-color:rgb(49, 196, 20);">

  <div class="row align-items-center justify-content-center d-flex" style="height:50px;" >
    <div class="col-10 text-center">
    <h3 style="font-family:'Times New Roman', Times, serif; font-weight:bold;">TURNO: {{this.turno.estado}}</h3>
    </div>
  </div>

  <div class="row align-items-center justify-content-center d-flex" style="height:50px;" >
    <div class="col-10 text-center">
    <span style="font-family:'Times New Roman', Times, serif; font-weight:bold;">{{this.turno.resenia}}</span>
    </div>
  </div>

  <div class="row align-items-center justify-content-center d-flex" style="height:50px;" >
    <div class="col-10 text-center">
      <button class="btn-dark" (click)="volver()">Volver</button>
    </div>
  </div>
</div>
