<div class="row  d-flex justify-content-center" style="height:100px;" *ngIf="this.spinner">
  <div class="col-12 justify-content-center d-flex align-items-center" style="height:600px;">

        <app-spinner [color]="'verde'"></app-spinner>
 </div>
</div>

<!--PACIENTE-->
<div *ngIf="this.miUsuario.perfil=='paciente' && !this.spinner">
  <div class="row  d-flex justify-content-center" style="height:100px;">

    <div class="col-12 justify-content-center d-flex align-items-center bg-success" style="height:100px;">
        <button class="btn btn-dark " routerLink="../../">Volver</button>
     </div>
  </div>


<div class="row bg-success text-white text-center d-flex justify-content-center align-items-center h-25">

  <h2 class="" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    Solicitar turno
  </h2>

</div>
<!--POR ESPECIALIDAD-->
  <div @animacionBotones class="row justify-content-center d-flex" *ngIf="this.porEspecialidad">
    <h3 class="text-center">Seleccione especialidad</h3>
    <div class="col-12 h-25 d-flex justify-content-center" *ngFor="let  especialidad of this.auth.especialidades">
      <button  class="mt-1 btn btn-info btn-lg text-center" style="border-radius:100%;"><img imagenDirectiva [tipoImagen]="'especialidad'" [src]="especialidad.pathEspecialidad" height="30" width="50" (click)="seleccionaEspecialidad(especialidad)"> </button>
    </div>
  </div>
<!--POR ESPECIALISTA-->
  <div @animacionBotones class="row justify-content-center d-flex" *ngIf="this.porEspecialista">
    <h3 class="text-center">Seleccione especialista</h3>
    <div class="col-12 h-25 d-flex justify-content-center" *ngFor="let  especialista of this.listaEspecialistasFiltrados">
      <button  class="mt-1 btn btn-info btn-lg text-center" style="width: 150px; height: 130px; border-radius:100%;"  (click)="seleccionarEspecialista(especialista)"><img ImagenDirectiva [src]="especialista.pathPerfil" height="50" width="80" style="border-radius:100%;"><br>{{especialista.nombre}} {{especialista.apellido}}</button>
    </div>
  </div>
<!--POR DIA-->
  <div @animacionOpacityBotones class="row justify-content-center d-flex" *ngIf="this.elegirDia">
    <h3 class="text-center">Seleccione dia</h3>
    <div class="col-12 h-25 d-flex justify-content-center" *ngFor="let  fecha of this.fechasEspecialista">
      <button  class="mt-1 btn btn-dark btn-lg text-center text-light" style="width:200px; height: 50px;"  (click)="seleccionarFecha(fecha)">{{fecha.diaNumero}}/{{fecha.mesNumero}}</button>
    </div>
  </div>
<!--POR HORA-->
  <div @animacionOpacityBotones class="row justify-content-center d-flex" *ngIf="this.elegirHorario">
    <h3 class="text-center">Seleccione horario</h3>
    <div class="col-12 h-25 d-flex justify-content-center" *ngFor="let  horas of this.horasDisponibles">
      <button  class="mt-1 btn btn-dark btn-lg text-center text-light" style="width:200px; height: 50px;"  (click)="seleccionarHorario(horas)">{{horas}} PM</button>
    </div>
  </div>



</div>

<!--ADMINISTRADOR-->

<div *ngIf="this.miUsuario.perfil=='administrador'  && !this.spinner">
  <div class="row  d-flex justify-content-center" style="height:100px;">
    <div class="col-12 justify-content-center d-flex align-items-center bg-success" style="height:100px;">
        <button class="btn btn-dark " routerLink="../../">Volver</button>
     </div>
  </div>


  <div class="row bg-success text-white text-center d-flex justify-content-center align-items-center h-25">
    <h2 class="" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Solicitar turno
    </h2>
  </div>


  <!--POR ESPECIALIDAD-->
  <div @animacionBotones class="row justify-content-center d-flex" *ngIf="this.porEspecialidad">
    <h3 class="text-center">Seleccione especialidad</h3>
    <div class="col-12 h-25 d-flex justify-content-center" *ngFor="let  especialidad of this.auth.especialidades">
      <button  class="mt-1 btn btn-info btn-lg text-center" style="border-radius:100%;"><img imagenDirectiva [tipoImagen]="'especialidad'" [src]="especialidad.pathEspecialidad" height="30" width="50" (click)="seleccionaEspecialidad(especialidad)"> </button>
    </div>
  </div>
<!--POR ESPECIALISTA-->
  <div @animacionBotones class="row justify-content-center d-flex" *ngIf="this.porEspecialista">
    <h3 class="text-center">Seleccione especialista</h3>
    <div class="col-12 h-25 d-flex justify-content-center" *ngFor="let  especialista of this.listaEspecialistasFiltrados">
      <button  class="mt-1 btn btn-info btn-lg text-center" style="width: 150px; height: 130px; border-radius:100%;"  (click)="seleccionarEspecialista(especialista)"><img ImagenDirectiva [src]="especialista.pathPerfil" height="50" width="80" style="border-radius:100%;"><br>{{especialista.nombre}} {{especialista.apellido}}</button>
    </div>
  </div>
<!--POR PACIENTE-->
<div @animacionOpacityBotones class="row justify-content-center d-flex" *ngIf="this.porPaciente">
  <div class="col-8">
  <app-tabla-pacientes [pacientesDeUnAdministrador]="true" (eventoPacienteSeleccionado)="seleccionarPaciente($event)"></app-tabla-pacientes>
  </div>
</div>
<!--POR DIA-->
  <div @animacionOpacityBotones class="row justify-content-center d-flex" *ngIf="this.elegirDia">
    <h3 class="text-center">Seleccione dia</h3>
    <div class="col-12 h-25 d-flex justify-content-center" *ngFor="let  fecha of this.fechasEspecialista">
      <button  class="mt-1 btn btn-dark btn-lg text-center text-light" style="width:200px; height: 50px;"  (click)="seleccionarFecha(fecha)">{{fecha.diaNumero}}/{{fecha.mesNumero}}</button>
    </div>
  </div>
<!--POR HORA-->
  <div @animacionOpacityBotones class="row justify-content-center d-flex" *ngIf="this.elegirHorario">
    <h3 class="text-center">Seleccione horario</h3>
    <div class="col-12 h-25 d-flex justify-content-center" *ngFor="let  horas of this.horasDisponibles">
      <button  class="mt-1 btn btn-dark btn-lg text-center text-light" style="width:200px; height: 50px;"  (click)="seleccionarHorario(horas)">{{horas}} PM</button>
    </div>
  </div>




  </div>
