<div class="card mt-5">

  <div class="card-body">

    <h3 class="card-title text-center">
      Gracias por registrarse!!!
    </h3>

    <div class="form-group">
      <p class="text-center">
        Para poder finalizar debes confirmar el registro en tu mail <strong>{{this.user?.email}} </strong>
      </p>
    </div>

    <div class="form-group text-center">

      <button class="btn btn-success" (click)="reenviar()">
        Reenviar mail de verificación.
      </button>
    </div>

  </div>

</div>
<div class="form-group text-center">



  <button class="btn mt-3 btn-primary" (click)="irABienvenido()">
    Volver a login
  </button>
</div>
