<div class="row">

  <div class="col-3 d-flex text-end flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 95vh;">

    <div class="dropdown d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <a  class="d-flex justify-content-center align-items-center text-white text-decoration-none">
        <img imagenDirectiva src="{{this.foto}}" alt="" width="58" height="58" class="rounded-circle me-2">
      <strong mouseDirectiva *ngIf="this.nombre">Bienvenido, {{this.nombre}}!</strong>
      </a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" @animacionSide>

      <li class="mt-4 text-center">
        <a  class="nav-link text-white" style="cursor:pointer;" (click)="irAMiPerfil()">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          <img src="../../../assets/icos/perfil.png"  width="50" height="50"> <span mouseDirectiva>Mi perfil</span>
        </a>
      </li>

      <li class="mt-4 text-center">
        <a class="nav-link text-white" style="cursor:pointer;" *ngIf="this.perfil=='administrador' || this.perfil=='paciente'" (click)="irASolicitarTurno()">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          <img src="../../../assets/icos/mano.png"  width="50" height="50">  <span mouseDirectiva>Solicitar turno</span>
        </a>
      </li>
      <li class="mt-4 nav-item text-center" (click)="irATurnos()">
        <a class="nav-link text-white" aria-current="page" style="cursor:pointer;">
          <svg class="bi me-2" width="16" height="16" ></svg>
          <img src="../../../assets/icos/turno.png"  width="50" height="50">
          <span *ngIf="this.perfil=='paciente' || this.perfil=='especialista'" mouseDirectiva >Mis turnos</span>
          <span *ngIf="this.perfil=='administrador'" mouseDirectiva >Turnos</span>
        </a>
      </li>

      <li class="mt-4 nav-item text-center" *ngIf="this.perfil=='especialista'" (click)="irAElegirPaciente()">
        <a class="nav-link text-white" aria-current="page" style="cursor:pointer;">
          <svg class="bi me-2" width="16" height="16" ></svg>
          <img src="../../../assets/icos/pacientes.png"  width="50" height="50">   <span mouseDirectiva>Pacientes</span>
        </a>
      </li>

      <li class="mt-4 text-center">
        <a  class="nav-link text-white" *ngIf="this.perfil=='administrador'" style="cursor:pointer;" (click)="irAUsuarios()">
          <svg class="bi me-2" width="16" height="16"></svg>
          <img src="../../../assets/icos/usuarios.png"  width="50" height="50">  <span mouseDirectiva>Usuarios</span>
        </a>
      </li>

      <li class="mt-4 text-center">
        <a  class="nav-link text-white" *ngIf="this.perfil=='administrador'" style="cursor:pointer;" (click)="irAInformes()">
          <svg class="bi me-2" width="16" height="16"></svg>
          <img src="../../../assets/icos/informe.png"  width="50" height="50">   <span mouseDirectiva>Informes</span>
        </a>
      </li>

      <li class="mt-4 text-center">
        <a  class="nav-link text-white"  style="cursor:pointer;" (click)="cerrarSesion()">
          <svg class="bi me-2" width="16" height="16"></svg>
          <img src="../../../assets/icos/exit.png"  width="50" height="50">  <span mouseDirectiva>Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </div>


  <div class="col-9" *ngIf="this.seccionUsuarios">
    <app-seccion-usuarios></app-seccion-usuarios>
  </div>

  <div class="col-9" *ngIf="this.elegirPaciente">
    <app-cards-pacientes (eventoPacienteSeleccionado)="verHistoriaClinica($event)"></app-cards-pacientes>
  </div>

  <div class="col-9" *ngIf="this.verHistoria">
    <app-ver-historia-clinica [paciente]="this.paciente" (eventoVolver)="volver()"></app-ver-historia-clinica>
  </div>

  <div class="col-9 justify-content-center d-flex" *ngIf="!this.seccionUsuarios && !this.elegirPaciente && !this.verHistoria">
    <div class="align-items-center justify-content-center">
      <h3 @animacionTitulo class="titulo mt-2 text-center">Clínica El Lobo</h3>
      <br>
         <div class="align-items-center justify-content-center d-flex">
      <img @animacionBienvenido class="text-center" src="../../../assets/logo.jpg" style="border-radius:100%" width="90" height="80">
        </div>
      <div @animacionBienvenido>
      <br><br>
      <h4> Calidad y servicio al cuidado de la salud.</h4>
      <p class="parrafo"> La clínica El Lobo se constituyó como una clínica abierta, de excelente nivel tecnológico y humano, que se destaca por contar en su staff con profesionales de reconocida trayectoria.

        La Clínica cuenta actualmente con 6 consultorios, dos laboratorios(físicos en la clínica), y una sala de espera general. También ofrece una amplia gama de servicios de alta calidad y tecnología, dentro de un confortable ambiente recientemente renovado.
        Está abierta al público de Lunes a Viernes en el horario de 8:00 hs a 19:00 hs, y los sábados en el horario de 8:00 a 14:00 hs.
      </p>

     <app-carousel></app-carousel>
    </div>
  </div>
  </div>


</div>
